.body{
	height: 100%;
}

.instructions{
  font-size: 12px;
  overflow-y: auto;
  height: 100%;
}

.info{
	font-size: 14px;
}

.image{
	padding-right: 10px;
	font-style: italic;
	font-size: 10px;
}

.verticalLine{
	padding-right: 20px;
	border-right: thin solid #A4A4A4;
}

.question{
	padding-right: 20px;
}

.survey{
	vertical-align: middle;
}

button:focus .yes{
  color: #1A7600;
  border-color: #004C09;
  outline: 0;
}

button:focus .no{
  color: #761800;
  border-color: #4C0F00;
  outline: 0;
}

button:focus{
  color: #045FB4;
  border-color: #045FB4;
  outline: 0;
}

.nextButton{
    float: right;
    margin-right:10px;
}